
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #3bb2b8;
  background: linear-gradient(
    25deg,
    rgba(66, 230, 149, 1),
    rgba(66, 32, 149, 1)
  );
  background-repeat: no-repeat;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  background-color: black;
  background-size: cover;
  background-position: center;
  margin: 0; 
  overflow-y: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: #3305da;
}

/* Estilos para el encabezado */
header {
  position: relative;
  padding: 0 2rem;
}

.navbar {
  width: 100%;
  height: 60px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #3305da;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease; 
}

.action_btn:hover {
  transform: scale(1.05);
  color: #fff;
}

.action_btn:active {
  transform: scale(0.95);
}

/* Estilos para el menú desplegable */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* Estilos para la sección HERO */
section#hero {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin-top: -100px;
}

#hero h1 {
  font-size: 8rem;
  margin: 1rem;
}

/* Estilos para tamaños de pantalla más pequeños (responsive) */
@media (max-width: 992px) {
  .navbar .links,
  .navbar .action_btn {
      display: none;
  }

  .navbar .toggle_btn {
      display: block;
  }

  .dropdown_menu {
      display: block;
  }
  #hero h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  .wrapper{
    position: absolute;
    top: 700px;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto; 
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
      left: 2rem;
      width: unset;
  }
  #hero h1 {
    font-size: 3rem;
    margin: 1rem;
  }
  #hero p{
    font-size: 16px;
  }
  .wrapper{
    position: absolute;
    top: 700px;
    left:50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height:auto; 
  }
}


/*CODIGO DEL BOTON*/

.wrapper{
  position: absolute;
  top: 600px;
  left:50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height:auto;

}
button{
  width:200px;
  height:70px;
  background: linear-gradient(to left top, #5e9c99 50%, #866ce2 50%);
  border-style: none;
  color:#fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: 'Lato';
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all .5s;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);
  
}
button span{
  position: absolute;
  display: block;
}
button span:nth-child(1){
  height: 3px;
  width:200px;
  top:0px;
  left:-200px;
  background: linear-gradient(to right, rgba(0,0,0,0), #ffffff);
  border-top-right-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span1 2s linear infinite;
  animation-delay: 1s;
}

@keyframes span1{
  0%{
      left:-200px
  }
  100%{
      left:200px;
  }
}
button span:nth-child(2){
  height: 70px;
  width: 3px;
  top:-70px;
  right:0px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), #ffffff);
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  animation: span2 2s linear infinite;
  animation-delay: 2s;
}
@keyframes span2{
  0%{
      top:-70px;
  }
  100%{
      top:70px;
  }
}
button span:nth-child(3){
  height:3px;
  width:200px;
  right:-200px;
  bottom: 0px;
  background: linear-gradient(to left, rgba(0,0,0,0), #ffffff);
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  animation: span3 2s linear infinite;
  animation-delay: 3s;
}
@keyframes span3{
  0%{
      right:-200px;
  }
  100%{
      right: 200px;
  }
}

button span:nth-child(4){
  height:70px;
  width:3px;
  bottom:-70px;
  left:0px;
  background: linear-gradient(to top, rgba(0,0,0,0), #ffffff);
  border-top-right-radius: 1px;
  border-top-left-radius: 1px;
  animation: span4 2s linear infinite;
  animation-delay: 4s;
}
@keyframes span4{
  0%{
      bottom: -70px;
  }
  100%{
      bottom:70px;
  }
}

button:hover{
  transition: all .5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0,0,0,.4);
}
button:hover span{
  animation-play-state: paused;
}




/*  footer   */
footer {
  background-color: #222;
  color: #fff;
  font-size: 14px;
  bottom: 0;
  position: fixed;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 999;
}

footer p {
  margin: 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida  Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
footer .fa-heart{
  color: red;
}
footer .fa-dev{
  color: #fff;
}

footer a {
  color: #3c97bf;
  text-decoration: none;
margin-right:5px;
}


